@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  width: 100vw;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #252525;
}

.header__row {
  display: flex;
  margin: 25px 0;
  align-items: center;
}

.header__item__pointed {
  color: #E0BEA2;
}

.header__item__burger {
  position: relative;
  width: 34px;
  height: 20px;
}
.header__item__burger span {
  position: absolute;
  background: #E0BEA2;
  left: 0;
  width: 26px;
  height: 2px;
  top: 9px;
}
.header__item__burger:before, .header__item__burger:after {
  content: "";
  background-color: #E0BEA2;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
}
.header__item__burger:before {
  top: 1px;
}
.header__item__burger:after {
  width: 18px;
  bottom: 1px;
}

.header__item__list {
  text-transform: uppercase;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  width: auto;
}
.header__item__list p {
  margin: 0 12.5px;
}

.header__item__title {
  flex: 1 1 auto;
  text-align: center;
  color: #E0BEA2;
}
.header__item__title p {
  font-size: 50px;
  margin: 0;
  height: auto;
}

.header__item__setting {
  flex: 1 1 auto;
  justify-content: center;
  display: flex;
}
.header__item__setting .setting__language, .header__item__setting .setting__currency {
  margin: 0 10px;
}
.header__item__setting .setting__language p, .header__item__setting .setting__currency p {
  text-transform: uppercase;
  position: relative;
  margin-right: 20px;
  padding-right: 20px;
}
.header__item__setting .setting__language p:last-child, .header__item__setting .setting__currency p:last-child {
  margin: 0;
}
.header__item__setting .setting__language p:before, .header__item__setting .setting__language p:after, .header__item__setting .setting__currency p:before, .header__item__setting .setting__currency p:after {
  content: "";
  width: 7px;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 50%;
}
.header__item__setting .setting__language p:before, .header__item__setting .setting__currency p:before {
  transform: rotate(40deg);
  right: 4px;
}
.header__item__setting .setting__language p:after, .header__item__setting .setting__currency p:after {
  transform: rotate(-40deg);
  right: 0;
}

.header__item__icons img {
  width: 25px;
  height: 25px;
  margin: 0 15px;
}
.header__item__icons img:first-child {
  margin: 0 15px 0 0;
}
.header__item__icons img:last-child {
  margin: 0 0 0 15px;
}

.nav__hierarchy {
  display: flex;
}
.nav__hierarchy p {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #252525;
  quotes: "" " >";
  margin: 0 5px 0 0;
}
.nav__hierarchy p:after {
  content: close-quote;
  color: #E0BEA2;
}
.nav__hierarchy p:before {
  content: open-quote;
}
.nav__hierarchy p:last-child:after {
  content: none;
}

footer {
  margin-top: 100px;
  height: 190px;
  width: 100%;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 -23px;
}

.footer__column {
  padding: 0 23px;
  flex: 0 1 25%;
}

.footer__subtitle {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #252525;
}

.footer__item {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.footer__text {
  margin-top: 20px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  color: #252525;
}

.footer__text p {
  margin-bottom: 0;
  margin-top: 10px;
}

.footer__text p:first-child {
  margin-top: 0;
}

.footer__icon img {
  height: 16px;
  width: auto;
}

.footer__copyright {
  text-align: center;
  margin-top: 50px;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #252525;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 10px 20px;
}

.content__wrapper h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #252525;
}
.content__wrapper h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #252525;
}

.product__body__row {
  display: flex;
  flex-direction: column;
}

.product__information__price {
  margin: 20px 0;
}

.product__body__product {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 100px;
}

.product__image,
.product__information {
  flex: 0 1 45%;
  display: flex;
}

.product__information {
  margin-left: 10px;
  flex-direction: column;
}

.product__information__color {
  margin: 0 0 20px 0;
}

.color__name {
  color: #E0BEA2;
}

.color__selector {
  display: flex;
  margin-left: 5px;
  height: 30px;
}

.color__select__radio {
  flex: 0 1 auto;
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  color: black;
  margin-top: 0;
}
.color__select__radio input:checked ~ .color__radio {
  border: none;
}
.color__select__radio input:checked ~ .color__radio:after {
  display: block;
}
.color__select__radio .color__radio:after {
  width: 30px;
  height: 30px;
  left: -20%;
  top: -20%;
  border-radius: 100%;
  border: 0.3px solid #252525;
}
.color__select__radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.color__radio {
  position: absolute;
  top: 2px;
  left: 0;
  height: 21px;
  width: 21px;
  border: 0.3px solid #252525;
  border-radius: 100%;
  background: white;
}
.color__radio:after {
  top: -1px;
  left: -1px;
  content: "";
  position: absolute;
  display: none;
}
.color__radio.white {
  background: white;
}
.color__radio.purple {
  background: #6F83A4;
}
.color__radio.coffee_with_milk {
  background: #F1DDAA;
}

.product__information__size {
  width: 100%;
  margin-bottom: 20px;
}

.product__size__select {
  display: flex;
  width: 102%;
}
.product__size__select img {
  position: relative;
  right: 24px;
  top: 50%;
}

.product__size {
  width: 100%;
  height: 50px;
  padding: 16px;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  color: #252525;
}

.product__information__buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.buttons__item {
  flex: 0 1 47%;
  height: 50px;
}
.buttons__item input {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
}
.buttons__item img {
  position: relative;
  top: -33px;
  left: 52px;
  width: 15px;
  height: 15px;
}

.button_to_cort {
  color: #FFFFFF;
  background: #E0BEA2;
}

.button_to_like {
  color: #252525;
  border: 0.5px solid #252525;
}

.button_to_like:after {
  background-image: url("../pictures/icons/likelist.svg");
}

.product__image__small_images {
  display: flex;
  flex-direction: column;
}
.product__image__small_images img {
  margin: 10px 10px 0 0;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.product__image__small_images img:first-child {
  margin: 0 10px 0 0;
}

.product__information__details h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
}
.product__information__details hr {
  height: 0.3px;
  background: #252525;
  margin: 10px 0 20px 0;
}

.details__title {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}
.details__title:before, .details__title:after {
  content: "";
  width: 10px;
  height: 2px;
  background: #E0BEA2;
  position: absolute;
  top: 8px;
}
.details__title:before {
  transform: rotate(40deg);
  left: 0;
}
.details__title:after {
  transform: rotate(-40deg);
  left: 7px;
}

.details__text {
  padding-top: 10px;
  display: none;
}

.whole_images,
.complete_images,
.must_liked,
.recently_watched {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 70px;
}

.whole_images__item,
.complete_image__item,
.must_liked__item,
.recently_watched__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 15px;
}
.whole_images__item:first-child,
.complete_image__item:first-child,
.must_liked__item:first-child,
.recently_watched__item:first-child {
  margin-left: 0;
}

.whole_images__item__image img,
.complete_image__item__image img,
.must_liked__item__image img,
.recently_watched__item__image img {
  width: 370px;
  height: 400px;
  object-fit: contain;
}

.complete_image__item__image img,
.must_liked__item__image img,
.recently_watched__item__image img {
  width: 273px;
  height: 300px;
}

.whole_images__item__to_like,
.complete_image__item__to_like,
.must_liked__item__to_like,
.recently_watched__item__to_like {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-left: 330px;
  background: #E0BEA2 url(../pictures/icons/likewhite.svg) no-repeat center/15px 15px;
  border-radius: 0 0 0 20px;
}

.complete_image__item__to_like,
.must_liked__item__to_like,
.recently_watched__item__to_like {
  margin-left: 233px;
}

.whole_images__item__title,
.complete_image__item__title,
.must_liked__item__title,
.recently_watched__item__title {
  margin-top: 15px;
}

.whole_images__item__price,
.complete_image__item__price,
.must_liked__item__price,
.recently_watched__item__price {
  margin-top: 5px;
}

.whole_images__item__size,
.complete_image__item__size,
.must_liked__item__size,
.recently_watched__item__size {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
.whole_images__item__size p,
.complete_image__item__size p,
.must_liked__item__size p,
.recently_watched__item__size p {
  font-style: normal;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: rgba(37, 37, 37, 0.5);
  margin-left: 5px;
}

.whole_images__item__colors,
.complete_image__item__colors,
.must_liked__item__colors,
.recently_watched__item__colors {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
.whole_images__item__colors span,
.complete_image__item__colors span,
.must_liked__item__colors span,
.recently_watched__item__colors span {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin-left: 5px;
}
.whole_images__item__colors .white,
.complete_image__item__colors .white,
.must_liked__item__colors .white,
.recently_watched__item__colors .white {
  background: white;
  border: 0.3px solid gray;
}
.whole_images__item__colors .purple,
.complete_image__item__colors .purple,
.must_liked__item__colors .purple,
.recently_watched__item__colors .purple {
  background: #6F83A4;
}
.whole_images__item__colors .coffee_with_milk,
.complete_image__item__colors .coffee_with_milk,
.must_liked__item__colors .coffee_with_milk,
.recently_watched__item__colors .coffee_with_milk {
  background: #F1DDAA;
}

/*# sourceMappingURL=tovarcard.css.map */
